{% extends 'base.html.twig' %}

{% block content %}
<div class='row'>
    {% for product in products %}
        <div class='col-4'>
            <div class="card" style="width: 18rem;">
            <img src="http://placekitten.com/100/50" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">{{ product }}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
